section.container > * {
    margin: 2vw;
}

section.container h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.container > article:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.image-container {
    background-color: rgba(65, 50, 50, 1);
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

.image-container img {
    display: inline-block;
    max-width: 80%;
    object-fit: contain;
}

.integration {
    margin: 3vh 3vw;
}

.integration ul {
    list-style-type: circle;
    list-style-position: inside;
}

.integration ul li {
    margin-block: 5px;
}

.description {
    margin: 3vh 3vw;
}

.order-form-container {
    padding: 3vh 3vw;
    border-top: 1px dotted rgba(65, 50, 50, 1);
}

.order-form-container form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.order-form-container form p {
    grid-row: 1;
    grid-column: 1 / -1;
}

/* .order-form form input {
    display: block;
    width: 100%;
    margin: 5px;
} */

.order-form-container form div {
    padding: 1.2rem;
    align-self: end;
}

@media  screen and (min-width: 1224px) {
    .image-container {
        grid-row: 1 / 3;
        grid-column: 1;
    }

    .order-form-container {
        grid-row: 2;
        grid-column: 2 / 4;
    }   
}

@media screen and (max-width: 1223px) and (min-width: 680px) {
    .container > article:nth-child(2) {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-container {
        grid-row: 1 / 3;
        grid-column: 1;
    }

    .integration {
        grid-row: 1;
        grid-column: 2;
    }

    .description {
        grid-row: 2;
        grid-column: 2;
    }

    .order-form-container {
        grid-row: 3;
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 679px) {
    .container > article:nth-child(2) {
        display: block;
    }

    .order-form-container form {
        grid-template-columns: 5fr 1fr;
    }

    .order-form-container form div {
        padding: 0;
    }
}
